@charset "UTF-8";
/*
Site para verificar compatibilidade de cada recurso do css e html.
www.caniuse.com

o ID sobrescreve uma CLASSE caso esteja associado.

odd: Ímpar
even: par

*/
@import "estilo2.css";

input[id=sim]:checked ~ label[for=sim]{
    font-weight: bold;
    background-color: white;
}

input[id=nao]:checked ~ label[for=nao]{

    font-weight: bold;
    background-color: white;
}

ul li:nth-child(even){
    background-color: yellow;
}

ul li:nth-child(odd){
    background-color: white;
}

nav ul li a:link{
    color: #000000;
}

nav ul li a:visited{
    color: #FFFFFF;
}

nav ul li a:hover{
    color: blue;
}

body *{
    letter-spacing: 0.1em;
}

body{
    background-color:rgba(255,0,0,1)

}

.destaque{
    font-weight: bold;
    color: blue;
}

#p1{
    font-family: Georgia;
}

article{
    background-color: #FFF;
}

#grupo1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; não quebra a linha */
    /* flex-start | flex-end | center | space-between | space-around */
    border: 1px solid #000000;
    /* justify-content: space-around; */
    /* align-content: space-around; */
    align-items: baseline;
    height: 450px;
    background-image: -webkit-radial-gradient(top,red,green,blue,black);
    /*background-image: -webkit-linear-gradient(top,red,green,blue,black);*/
}

#grupo1 div{
    width: 200px;
    height: 120px;
    background: rgba(114, 114, 114,0.9);
    margin: 8px;
    text-shadow: 2px 2px 1px red;

}

div#grupo1 div:nth-child(1){
    height: 80px;
    box-shadow: 2px 2px 1px white; /* x y blur cor*/
}

div#grupo1 div:nth-child(2){
    height: 180px;
    border: 3px double #000;
    border-radius: 10px; /* borda arrendonda */
}

div#grupo1 div:nth-child(3){
    height: 280px;
    border: 3px dashed #000; /* dashed é tracejado */
    border-left-color: #FFF;
    border-left-style: dotted;
    border-radius: 50px;
}

div#grupo1 div:nth-child(4){
    height: 130px;
    border: 3px dotted #000; /* dotted é pontilhado */
    border-right-color: #FFF;
}


article img{
    width: 350px;
}


footer p{
    background-color: blue;
}